<mat-toolbar color="primary" class="main-header mat-elevation-z4">
    <div class="header-container">
        <div class="brand" (click)="goLanding()">
            <img src="/favicon.ico" width="80" height="80" />
            <span>Onboarding Portal</span>
        </div>
        <span class="spacer"></span>
        @if(showAdminLogin || showOnBoarding || showUserMenu) {
        <div>
            @if(showAdminLogin) {

            <button mat-button class="nav-link" (click)="onAdminLogin()">
                <mat-icon>lock_open</mat-icon>
                ADMIN PORTAL
            </button>
            }
            @if(showOnBoarding) {
            <button mat-flat-button color="accent" class="cta-small" (click)="onSubmit()">
                START ONBOARDING PROCESS
            </button>
            }
            @if(showUserMenu && user) {
            <button matButton="text" [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
                {{ user.given_name }} {{ user.family_name }}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item disabled>
                    <p>{{ user.preferred_username }}</p>
                </button>
                <button (click)="onLogout()" mat-menu-item>Logout</button>
            </mat-menu>
            }
        </div>
        }
    </div>
</mat-toolbar>