<mat-toolbar class="main-header">
    <div class="header-container">
        <div class="brand" (click)="goLanding()">
            <span class="brand-mark">
                <mat-icon>verified_user</mat-icon>
            </span>
            <span class="brand-name">Onboarding Portal</span>
        </div>
        <span class="spacer"></span>
        @if(showAdminLogin || showOnBoarding || showUserMenu) {
        <div class="nav-actions">
            @if(showAdminLogin) {

            <button mat-button class="nav-link" (click)="onAdminLogin()">
                <mat-icon>lock_open</mat-icon>
                Admin portal
            </button>
            }
            @if(showOnBoarding) {
            <button matButton="filled" class="cta-small" (click)="onSubmit()">
                Start onboarding
            </button>
            }
            @if(showUserMenu && user) {
            <button matButton="text" [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
                {{ user.given_name }} {{ user.family_name }}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item disabled>
                    <p>{{ user.preferred_username }}</p>
                </button>
                <button (click)="onLogout()" mat-menu-item>Logout</button>
            </mat-menu>
            }
        </div>
        }
    </div>
</mat-toolbar>