@if(registration()) {
<form [formGroup]="registrationForm" (ngSubmit)="saveChanges()" class="detail-container">
    <mat-tab-group animationDuration="400ms">

        <mat-tab>
            <ng-template mat-tab-label>
                <span>SUMMARY</span>
            </ng-template>

            <div class="grid-layout">
                <mat-form-field appearance="outline" class="span-8">
                    <mat-label>Decentralized Identifier (DID)</mat-label>
                    <input matInput formControlName="did">
                </mat-form-field>
                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>Register Status</mat-label>
                    <mat-select formControlName="status">
                        @for (status of statusOptions; track status) {
                        <mat-option [value]="status">{{ prettyStatus(status) | titlecase}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="span-12">
                    <mat-label>Registration ID</mat-label>
                    <input matInput formControlName="id">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-12">
                    <mat-label>Administrative Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Submission Date</mat-label>
                    <input matInput [value]="registration().createdAt | date:'dd/MM/yyyy HH:mm:ss'" disabled>
                    <mat-icon matSuffix>calendar_today</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Update</mat-label>
                    <input matInput [value]="registration().updatedAt | date:'dd/MM/yyyy HH:mm:ss'" disabled>
                    <mat-icon matSuffix>update</mat-icon>
                </mat-form-field>

                @if(registration().files?.length) {
                <div class="span-12 files-container">
                    <mat-label class="section-label">Attached Documents</mat-label>
                    <mat-chip-set class="chip-list">
                        @for(file of registration().files; track file.name) {
                        <mat-chip-row class="preview-chip" (click)="previewFile(file)" matTooltip="Click to preview PDF"
                            [matTooltipShowDelay]="500" #chipTooltip="matTooltip">
                            <mat-icon matChipAvatar>picture_as_pdf</mat-icon>
                            <span class="truncate">{{ file.name }}</span>
                        </mat-chip-row>
                        }
                    </mat-chip-set>
                </div>
                }
                @if(needRevision()) {
                <mat-form-field appearance="outline" class="span-12">
                    <mat-label>{{ 'Reason for the revision' }}</mat-label>
                    <textarea matInput formControlName="reason"
                        placeholder="Provide information about the action to be taken" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
                    <mat-icon matSuffix>comment</mat-icon>

                    @if(_editting()) {
                    <mat-hint>Explain why the submission needs to be reviewed</mat-hint>
                    }
                    @if (registrationForm.get('reason')?.hasError('required')) {
                    <mat-error>
                        A reason is <strong>required</strong> when the status needs review.
                    </mat-error>
                    }
                </mat-form-field>
                }
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span>COMPANY INFORMATION</span>
            </ng-template>
            <div class="grid-layout">
                <mat-form-field appearance="outline" class="span-8">
                    <mat-label>Official Registered Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matSuffix>corporate_fare</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>Tax Identifier (VAT/CIF)</mat-label>
                    <input matInput formControlName="taxId">
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="span-12">
                    <mat-label>Full Address</mat-label>
                    <input matInput formControlName="address">
                    <mat-icon matSuffix>place</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city">
                    <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country">
                    <mat-icon matSuffix>public</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>Postal Code</mat-label>
                    <input matInput formControlName="postCode">
                    <mat-icon matSuffix>local_post_office</mat-icon>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="actions">
        @if(!_editting()) {
        <button type="button" matButton="filled" color="accent" (click)="enableReview()">
            <mat-icon>edit_note</mat-icon>
            Review
        </button>
        } @else {
        <button type="submit" matButton="filled" color="primary"
            [disabled]="registrationForm.invalid || !registrationForm.dirty">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button type="button" matButton="tonal" color="" (click)="cancelReview()">
            Cancel
        </button>
        }
    </div>
</form>
}