/* You can add global styles to this file, and also import other style files */
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  margin: 0;
  box-sizing: content-box;
}


.snackbar-error {
  --mat-snack-bar-container-color: #f44336;
  --mat-snack-bar-button-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.snackbar-success {
  --mat-snack-bar-container-color: #4caf50;
  --mat-snack-bar-button-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.snackbar-warning {
  --mat-snack-bar-container-color: #ff9800;
  --mat-snack-bar-button-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.snackbar-info {
  --mat-snack-bar-container-color: #2196f3;
  --mat-snack-bar-button-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
