name: Release

on:
  push:
    branches:
      - main

env:
  REGISTRY: ${{ vars.REGISTRY || 'quay.io' }}
  REPOSITORY: ${{ vars.REPOSITORY || 'seamware' }}
  PLATFORMS : linux/arm64,linux/amd64
jobs:
  generate-version:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.out.outputs.version }}

    steps:
      - uses: actions/checkout@v6

      - id: pr
        uses: actions-ecosystem/action-get-merged-pull-request@v1.0.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: zwaldowski/semver-release-action@v6
        if: steps.pr.outputs.labels
        with:
          dry_run: true
          bump: ${{ steps.pr.outputs.labels }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version output
        id: out
        run: echo "::set-output name=version::$(echo ${VERSION:-latest})"

  # image build&push
  build-and-push:
    needs: [ "generate-version" ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Build&Push image
        run: ./.github/scripts/build.sh --platform ${{ env.PLATFORMS }} -t ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/onboarding:latest -t quay.io/seamware/onboarding:${{ needs.generate-version.outputs.version }} --push .

  git-release:
    needs: ["generate-version", "build-and-push"]
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ needs.generate-version.outputs.version }}
          prerelease: false
          title: ${{ needs.generate-version.outputs.version }}
          files: |
            LICENSE
